name: speedtest
on: workflow_dispatch
jobs:
  speedtest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: gcc -O3 -flto -march=native -o speedtest speedtest.c && ./speedtest
